.card {
    /* max-width: 200px; */
    padding: 2em;
    margin: 0.5em;
    border: 2px solid black;
    border-radius: 2.3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

.img {
    max-width: 200px;
    align-self: center;
    justify-self: center;
}

.buttonGroup {
    margin: 8px;
}

.buttonGroup > * {
    border: 1px solid black;
    border-radius: 0;
}

.buttonGroup > *:hover {
    background-color: rgb(255, 109, 109);
}

.buttonGroup > *:last-child {
    border-left: 0;
}